__pycache__
**/__pycache__
space/__pycache__
space/planets/__pycache__
space/star_systems/__pycache__
**/Downloaded Packs/
space/assets/Downloaded Packs/
trash/*
combine.sh
all_output.txt
todo.md